<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Login" />
    <link rel="icon" type="image/png" href="images/search-icon.png" />

    <title>Login</title>

    <!-- Bootstrap core CSS -->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />

    <link th:href="@{/css/style.css}" rel="stylesheet" />
    <link th:href="@{/css/fv.css}" rel="stylesheet" />
</head>

<body class="gray-bg">

<div class="middle-box text-center loginscreen animated fadeInDown">

        <hr />
        <h3>Enter your login (email) and password</h3>

        <!--<div class="error" th:if="${errorMsg}"-->
             <!--th:with="errorMsg=${session['SPRING_SECURITY_LAST_EXCEPTION'].getValueNames()}">-->
            <!--Reason: <span th:text="${errorMsg}">Wrong input!</span>-->
        <!--</div>-->

        <!--<div th:if="${principal} and ${session}" th:with="errorMsg=${session['SPRING_SECURITY_LAST_EXCEPTION']}">-->
            <!--<div class="alert alert-dismissible alert-danger error">-->
                <!--Reason: <span th:text="${errorMsg}">Demo Invalid input</span>-->
            <!--</div>-->
        <!--</div>-->

        <!--<div class="error"-->
             <!--th:if="${param.login_error}"-->
             <!--th:with="errorMsg=${session["SPRING_SECURITY_LAST_EXCEPTION"].message}">-->
                <!--Your login attempt was not successful, try again.<br />-->
                <!--Reason: <span th:text="${errorMsg}">Wrong input!</span>-->
        <!--</div>-->

    <!--<div th:if="${#authorization.getAuthentication.getName()}">-->
        <!--This will only be displayed if authenticated user has role ROLE_ADMIN.-->
    <!--</div>-->

    <div th:if="${loginError}" class="alert alert-danger" role="alert">Wrong user or password</div>
    <!--<p th:if="${loginError}" class="error">Wrong user or password</p>-->

        <form action="#" th:action="@{/login}" method="post" class="m-t" role="form" data-toggle="validator">

            <div class="form-group input-group has-feedback">
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-envelope"></span>
                </span>
                <input name="username" type="email" pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$"
                       id="username" placeholder="Email Address" class="form-control" data-error="This email address is invalid" required/>
                <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
            </div>

            <div class="form-group input-group">
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-lock"></span>
                </span>
                <input name="password" type="password" id="password" placeholder="Password" class="form-control" required/>
                <!--<span class="glyphicon form-control-feedback" aria-hidden="true"></span>-->
            </div>

            <button type="submit" class="btn btn-primary block full-width m-b">
                <span class="glyphicon glyphicon-log-in m-r-sm"></span> Login
            </button>

        </form>

        <div class="alert alert-light" role="alert">
            If you are not registered, you can do it <a href="/register" class="alert-link">here</a>.
        </div>

</div>

<!-- jQuery-->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Bootstrap -->
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<!-- Bootstrap Validator plugin -->
<script src="//cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.min.js"></script>

</body>
</html>